<div class='matches'>
    <% for(var i = 0; i < user.length; i++) { %>
    <article class='show active'>
        <form action='/<%= user[i]._id %>/update' method='POST'>
            <fieldset>
                <div class='card'>
                        <img src="img/profile.jpg">
                        <div class='card__description'>
                        <h2>
                            <%= user[i].name %>
                        </h2>
                        <p>
                            <%= user[i].description %>
                        </p>
                    </div>
                </div>
                <div class='controls'>
                    <label class='card__btn card__btn--undo card__btn--secundair' for='undo'>
                        <input type='radio' id='undo' name='like'>
                        <span>undo</span>
                        <img src='img/undo.svg' alt='undo icon'>
                    </label>
                    <label class='card__btn card__btn--pass' for='pass'>
                        <input type='radio' id='pass' name='like' value='0'>
                        <span>pass</span>
                        <img src='img/pass.svg' alt='close icon'>
                    </label>
                    <label class='card__btn card__btn--like' for='like'>
                        <input type='radio' id='like' name='like' value='1'>
                        <span>like</span>
                        <img src='img/like.svg' alt='heart like icon'>
                    </label>
                    <label class='card__btn card__btn--superlike card__btn--secundair' for='superlike'>
                        <input type='radio' id='superlike' name='like' value='1'>
                        <span>superlike</span>
                        <img src='img/superlike.svg' alt='crown superlike icon'>
                    </label>
                    <button>Submit</button>
                </div>
            </fieldset>
        </form>
    </article>
    <% } %>
</div>