<% include layout/head.ejs %>

    <h2><%= user.name %></h2>
    <p><%= user.description %></p>
    <form action="/account/<%= user._id %>/delete?_method=DELETE" method="POST">
        <button>delete account</button>
    </form>
<% include layout/footer.ejs %>
