include layout/head.pug

body

	//- section
	//- 	h2 Title
	//- 	article.card
	//- 		div.card__description
	//- 			h3 Name 1
	//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	//- 		img(src='http://placekitten.com/243/430')

	//- 	article.card
	//- 		div.card__description
	//- 			h3 Name 2
	//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		
	//- 	article.card
	//- 		div.card__description
	//- 			h3 Name 3
	//- 			p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

	//- 	button.card__btn.card__btn--like like
	//- 	button.card__btn.card__btn--pass pass

	section
		h2 Find your soulmate

		article
			form
				fieldset
					legend Name 1

					div.card
						div.card__description
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						img(src='img/profile.jpg')

					label(for='like', class='card__btn card__btn--like') Like
						input(type='radio', name='choice', id='like')

					label(for='pass', class='card__btn card__btn--pass') Pass
						input(type='radio', name='choice', id='pass')

					button submit

	include layout/footer.pug