<% include layout/head.ejs %>
	<% if (user_logged_in) { %>
		<p>Welcome back <%= user_logged_in.name %>!</p>
		<a href=/logout>Log out</a>
	<% } else { %>
		<a href=/login>Log in</a>
		or
		<a href=/register>Sign up</a>
	<% } %>

	<section>
		<h2>Find your soulmate</h2>
		<% include partials/profile.ejs %>
	</section>

<% include layout/footer.ejs %>