<% include layout/head.ejs %>
<% include layout/nav.ejs %>
	
	<% if (user_logged_in) { %>
		<section>
			<h2>Find your soulmate</h2>
			<% include partials/profile.ejs %>
		</section>
	<% } else { %>	
		<header>
			<img src="/img/logo.svg" alt="">
			<p>Find your soulmate</p>
		</header>
	<% } %>
	
<% include layout/footer.ejs %>