<% include layout/head.ejs %>

<h1>Login</h1>
    <form action='/login' method='POST'>
        <div>
            <label for='name'>Name</label>
            <input id='name' type='text' name='name'>
        </div>
        <div>
            <label for='password'>Password</label>
            <input id='password' type='text' name='password'>
        </div>

        <input type='submit' value='login'> 
    </form>
<% include layout/footer.ejs %>