<% include layout/head.ejs %>

<h1>Register</h1>
<form action='/account' method='POST' enctype='multipart/form-data'>
    <label for='name'>Name</label>
    <input id='name' type='text' name='name'>

    <label for='age'>Age</label>
    <input id='age' type='number' name='age'>
    
    <label for='email'>Email</label>
    <input id='email' type='email' name='email'>
    
    <label for='password'>Password</label>
    <input id='password' type='password' name='password'>
    
    <label for='description'>Description</label>
    <input id='description' type='text' name='description'>

    <input type='file' accept='image/*' name='avatar'>

    <button>Add</button>
</form>

<% include layout/footer.ejs %>