<% include layout/head.ejs %>

<div class='container'>
    <section class='signup'>
        <article>
            <h1>Sign in to Rosella</h1>
            <form action='/signin' method='POST'>
                <div>
                    <label for='name'>Name</label>
                    <input id='name' type='text' name='name'>
                </div>
                <div>
                    <label for='password'>Password</label>
                    <input id='password' type='text' name='password'>
                </div>
                
                <p>New to Rosella? <a href="/signup">Create an account</a>.</p>
                <button class='btn btn--primary'>Sign in</button>
            </form>

        </article>
    </section>
</div>
<% include layout/footer.ejs %>